<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Free to work.</title>
    <link rel="icon" href="/images/Screenshot 2023-07-22 194839.png" type="image/icon type">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="home_navbar.css">
    <link rel="stylesheet" href="home_content.css">
    <link rel="stylesheet" href="post-details.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="comment.css">
    <link rel="stylesheet" href="home_footer.css">
</head>

<body>
    <nav>
        <div class="nav_left">
            <p class="logo" style="color:#1a1d86" onclick="goto_landing()">Free to<br>work.</p>
            <ul>
                <li><a href="/newsfeed"><i class='bx bxs-home'></i></a></li>
                <li><a href="/list"><i class='bx bx-list-ul'></i></a></li>
                <li><i class="fa-solid fa-bell taken"></i></li>
            </ul>
        </div>
        <div class="nav_right">
            <div class="serach_box">
                <img src="../pictures/search-alt-regular-24.png">
                <input type="search" id = "searchValue" placeholder="Search" onsearch="apply_filter()">
            </div>
            <div class="create_post" onclick="goto_post()">
                <p>Post</p>
            </div>
            <!-- -------profile-popup-------- -->
            <div class="user_icon">
                <img src="../pictures/FB_IMG_1635179825355.jpg" onclick="menuToggle()">
            </div>
            <div class="menu">
                <div class="menu_user_icon">
                    <img src="../pictures/FB_IMG_1635179825355.jpg">
                </div>
                {{#each user}}
                <h3><span id="nav_user_name">{{fname}} {{lname}}</span><br><span
                        id="nav_user_category">{{category}}</span></h3>
                {{/each}}
                <ul>
                    <li><img src="../pictures/user1.png" alt="Dp"><a href="/profile">My profile</a></li>
                    <li><img src="../pictures/logout.png" alt="logout logo"><a href="/logout" onclick="logout()">Log
                            out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="advertise">
        <div class="swiper">
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="../images/@FreeToWork.png" alt=""></div>
                <div class="swiper-slide"><img src="../pictures/1.png" alt=""></div>
                <div class="swiper-slide"><img src="../pictures/2.png" alt=""></div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>
    </div>
    <div class="container">
        <div class="left_bar">
            <div class="left_bar_title">
                <h2>Filters</h2>
                <button onclick="apply_filter()">Apply</button>
            </div>
            <hr style="width: 90%; margin-left: 5%; border-color: rgb(250, 250, 250);">
            <div class="filter-price">
                <div class="filter-price-head">
                    <h3>Price</h3>
                    <button onclick="clear_price()">Clear</button>
                </div>
                <div class="filter-price-body">
                    <p>Min</p>
                    <div class="box">
                        <i class='bx bx-dollar' style="color:black; margin-left: 2px;"></i>
                        <input type="text" id="filter-price-min" placeholder="0">
                        <p style="color:black; margin-right: 10px;">BDT</p>
                    </div>
                    <p>Max</p>
                    <div class="box">
                        <i class='bx bx-dollar' style="color:black; margin-left: 2px;"></i>
                        <input type="text" id="filter-price-max" placeholder="1000000+">
                        <p style="color:black; margin-right: 10px;">BDT</p>
                    </div>
                </div>
            </div>
            <div class="filter-location">
                <div class="filter-location-head">
                    <h3>Location</h3>
                    <button onclick="clear_location()">Clear</button>
                </div>
                <div class="filter-location-body">
                    <p>Division</p>
                    <div class="divisions">
                        <i class='bx bxs-location-plus' style="color:black; margin-left: 2px;"></i>
                        <select name="divisions" id="divisions" onchange="divisionsList();">
                            <option value="" selected>Select division</option>
                            <option value="Barishal">Barishal</option>
                            <option value="Chattogram">Chattogram</option>
                            <option value="Dhaka">Dhaka</option>
                            <option value="Khulna">Khulna</option>
                            <option value="Mymensingh">Mymensingh</option>
                            <option value="Rajshahi">Rajshahi</option>
                            <option value="Rangpur">Rangpur</option>
                            <option value="Sylhet">Sylhet</option>
                        </select>
                    </div>
                    <p>District</p>
                    <div class="district">
                        <i class='bx bxs-location-plus' style="color:black; margin-left: 2px;"></i>
                        <select name="" id="distr" onchange="thanaList();">
                            <option value = "" disabled selected>Select division first</option>
                        </select>
                    </div>
                    <p>Thana</p>
                    <div class="station">
                        <i class='bx bx-current-location' style="color:black; margin-left: 2px;"></i>
                        <select name="" id="polic_sta">
                            <option value = "" disabled selected>Select district first</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="filter-category">
                <div class="filter-category-head">
                    <h3>Category</h3>
                    <button onclick="clear_category()">Clear</button>
                </div>
                <div class="filter-category-body">
                    <div class="box">
                        <i class='bx bx-search-alt-2' style="color:black; margin-left: 2px;"></i>
                        <input type="text" placeholder="Search Category" id="filter-category"
                            onkeyup="category_filter()" onclick="show_all_category()">
                    </div>
                    <div class="category-suggest">
                    </div>
                </div>
            </div>
        </div>
        <div class="main_content">
            <div class="main_title">
                <span>Top results </span>
                <div class="sort">
                    <div id='title'>
                        <p>Sort by</p>
                    </div>
                    <div class="sort_value">
                        <select name="sort_type" id="sort_type" onchange="apply_filter()">
                            <option value="Date" selected>Date</option>
                            <option value="price">Price</option>
                        </select>
                        <select name="sort_order" id="sort_order" onchange="apply_filter()">
                            <option value="Ascending" selected>Ascending</option>
                            <option value="Descending">Descending</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="post">
                {{#each allpost}}
                {{!-- {{_id}} --}}
                <div class="post-content">
                    <div class="heading" onclick="show_details(this)" data-id="{{id}}">
                        <p>{{title}}</p>
                    </div>
                    <div class="budget">
                        <p>Est. budget: {{budget}} BDT</p>
                        <p>.</p>
                        <p>Posted : {{time_ago}}</p>
                    </div>
                    <div class="details">
                        <p>{{detail1}}<span id="dots"> ...</span><button onclick="see_more(this)"
                                id="see_more">more</button><span id="more_details">{{detail2}}</span>
                            <button onclick="see_less(this)" id="see_less">see less</button>
                        </p>
                    </div>
                    <div class="post_tag">
                        <ul>
                            <li>{{category}}</li>
                        </ul>
                    </div>
                    <div class="location">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>{{division}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
    <div class="post_details">
        <div class="details_overlay"></div>
        <div class="details_content" id="details_content">
            <span class="close-btn" onclick="close_details()"><i class="fa-solid fa-greater-than"></i></span>
            <div class="details_body">
                <div class="details_body_left">
                    <div class="details_body_left_head">
                        <div class="basic_info">
                            <div class="title">
                                <span id='post_detail_title'>Java SpringBoot</span>
                            </div>
                            <div class="budget_time">
                                <p id="post_detail_budget">Est. budget: $50 - 100 USD</p>
                                <p id="post_detail_time_ago">Posted 2 hours ago</p>
                            </div>
                            <div class="tag">
                                <ul>
                                    <li id="post_detail_category">php</li>
                                </ul>
                            </div>
                            <div class="details_location">
                                <i class="fa-solid fa-location-dot"></i>
                                <p id="post_detail_division">Chittagong</p>
                            </div>
                        </div>
                        <div class="best_bid">
                            <div id = 'best_bid'>
                                <p id = "best_bidder_name" data-id = "" onclick="show_best_bidder(this)">Nafiz Safa Talukder</p>
                                <p><span id = "best_bid_value">100</span> BDT</p>
                            </div>
                            <div id = 'value'>
                                <p id = 'title'>BEST BID</p>
                            </div>
                        </div> 
                        <div class="sumbit_bid">
                            <div id='sumbit_bid'>
                                <input type="number" placeholder="Enter your bid" id = "bid_value">
                            </div>
                            <div id='value'>
                                <button id='bid_sumbit' data-id = "" onclick = "submit_bid(this)">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                    <div class="details_body_left_body">
                        <p id="details">Details:</p>
                        <p id="post_detail_detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ad
                            officiis iusto omnis enim
                            nobis impedit qui velit provident facilis natus vitae nemo, debitis esse reiciendis voluptas
                            quam a recusandae illo, voluptate laudantium culpa minus? Laborum dolores sed alias odit
                            eligendi modi, esse aut asperiores, ex, vero voluptatem. Esse cumque, alias sequi pariatur
                            molestias praesentium officia optio delectus iure adipisci officiis? Doloremque dolor vel
                            dignissimos temporibus quas. Reprehenderit minus eligendi mollitia nobis corrupti dolor vero
                            omnis excepturi, facilis cupiditate aspernatur vel eum voluptatum explicabo laboriosam alias
                            ratione nostrum quae. Quae laudantium architecto asperiores quis incidunt velit nulla porro
                            fuga iure sunt natus nesciunt omnis harum libero, repudiandae eveniet quas quisquam alias
                            eum temporibus, aspernatur obcaecati eius! Distinctio repellat facilis consequatur culpa
                            necessitatibus consectetur quam harum eum earum ipsa ratione nemo tempora sit provident,
                            accusantium, qui rem exercitationem neque nisi inventore odio commodi? Mollitia odit eveniet
                            accusantium cumque doloribus quam dicta facilis, vitae suscipit ut, repellat molestiae nihil
                            saepe est tempore blanditiis maiores ipsam soluta! Doloremque, perspiciatis beatae culpa
                            eaque in fugit suscipit, molestias commodi quia earum numquam ad aspernatur, asperiores ut
                            distinctio adipisci facilis necessitatibus dignissimos rerum laudantium magnam nihil ex
                            minima? Saepe temporibus deleniti, facilis enim necessitatibus atque nisi.
                        </p>
                    </div>
                    <div class="comment">
                        <p id="comment">Comments:</p>
                        <div class="comment_container opened" id="first-comment">
                            <div class="comment_card">
                                <h3 class="comment_title">First</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, harum.</p>
                                <div class="comment_footer">
                                    <div class="reply" onclick="show(this)">reply</div>
                                    <div class="show_reply">2 Replies</div>
                                </div>
                            </div>
                            <div class="comment_container" dataset="first-comment" id="first-reply">
                                <div class="comment_card">
                                    <h3 class="comment_title">First reply</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, harum.</p>
                                    <div class="comment_footer">
                                        <div class="reply" onclick="show(this)">reply</div>
                                        <div class="show_reply">1 Replies</div>
                                    </div>
                                </div>
                                <div class="comment_container" dataset="first-reply" id="first-first-reply">
                                    <div class="comment_card">
                                        <h3 class="comment_title">reply of First reply</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, harum.
                                        </p>
                                        <div class="comment_footer">
                                            <div class="reply" onclick="show(this)">reply</div>
                                            <div class="show_reply">0 Replies</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment_container" dataset="first-comment" id="second-reply">
                                <div class="comment_card">
                                    <h3 class="comment_title">Second reply</h3>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, harum.</p>
                                    <div class="comment_footer">
                                        <div class="reply" onclick="show(this)">reply</div>
                                        <div class="show_reply">0 Replies</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment_box">
                            <form action="">
                                <textarea name="message" placeholder="write comment" id="comment_text"></textarea>
                                <input type="submit">
                            </form>
                        </div>
                    </div>

                </div>
                {{!-- <div class="details_body_right">
                    

                    <div class="bid_list">
                        <div id='list'>
                            <p id='title'>TOP BIDS</p>
                        </div>
                        <div id='bid_list'>
                            <ul>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Tanzim Bin Nasir</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Nafiz Safa Talukder</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Aninda Roy Dhruvo</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Aninda Roy Dhruvo</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Aninda Roy Dhruvo</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Aninda Roy Dhruvo</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Aninda Roy Dhruvo</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Aninda Roy Dhruvo</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Aninda Roy Dhruvo</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Aninda Roy Dhruvo</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Aninda Roy Dhruvo</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Aninda Roy Dhruvo</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="bid_list_cart">
                                        <span id='user_name'>Aninda Roy Dhruvo</span><br>
                                        <span>100BDT</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div> --}}

            </div>
        </div>
    </div>
    <footer>
        <div class="bottom">
            <center>
                <span class="credit">Created By <a href="#">Tanzim, Nafiz, Dhrubo</a> | </span>
                <span class="far fa-copyright"></span>
                <span> 2023 All rights reserved.</span>
            </center>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="home.js"></script>
<script src="bidding.js"></script>
<script src="filter.js"></script>
<script src="../location.js"></script>
<script src="comment.js"></script>
<!-- sliding adv -->
<script>
    const swiper = new Swiper('.swiper', {
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },

        loop: true,

        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },

        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>

</html>